<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.talktime">

    <!-- Permissions for calling -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!-- Required for installation on VoIP supported devices only -->
    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".SinchService" />

        <activity android:name=".ui.SinchLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.CallScreenActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.IncomingCallScreenActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.PlaceCallActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.BaseActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.SignupActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>